@font-face {
	font-family: 'GmarketSansMedium';
	src:
 url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
 format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'GmarketSansMedium';
}


.list-box-inner a {
	text-decoration: none;
	color: black;
}

.list-box-inner td {
	padding: 0 20px 0 0;
}

.allbook-list a {
	text-decoration: none;
	color: black;
}

table {
	margin: 20px auto;
}

table h2 {
	margin-bottom: 50px;
}

.login-box {
	display: flex;
	justify-content: end;
	padding: 10px 0 10px 20px;
	align-items: center;
}

.login-box form {
	display: flex;
	gap: 10px;
}

.container-fluid {
	display: flex;
	justify-content: space-between;
}

main {
	margin: 50px 0 50px 0;
}

main td {
	font-size: 20px;
}

.addButton {
	text-align: center;
	margin-top: 30px;
}

.list-box {
	margin: 0 0 50px 0;
	display: flex;
	flex-direction: column;
}

.list-box-inner {
	display: flex;
}
.logincheck{
	height: 35px;
	position: relative;
	top:-2px;
}
.list {
	display: flex;
}

.select-box {
	display: flex;
	justify-content: end;
	padding-bottom: 0 0 50px 0;
}
.select-box > ul{
	display: flex;
}
.select-box li{
	list-style: none;
}
.select-box li button:hover{
	color: #2699FB;
	
}
.select-box li button {
	background-color: white;
	border-radius: 5px;
	border: none;
	transition: 200ms;
}
.allbook-list {
	margin-top: 30px;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
}

.allbook-list td {
	font-size: 20px;
	padding: 0 20px 0 0;
}

.bookinfo-box{
	display: flex;
	justify-content: center;
}
.bookimg-box{
	width: 460px;
	height: 670px;
}
#booktitle{
	font-size: 30px;
	font-weight: bold;
}
.bookpay-box{
	margin-left: 50px;
}
.bookpay-box div{
	width: 500px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #eee;
}
.bookpay-box span{
	font-size: 25px;
	margin-right: 10px;
}
#discount{
	color: #4DAC27;
}
#disprice{
	font-size: 15px;
	color: ligth-gray;
}



footer {
	border-top: 2px solid #eee;
}